{% extends 'mainsite/base.html' %}
{% block content %}
    {% include 'travelapp/includes/inc-filter-form.html' %}
    <div class="flex justify-center w-auto bg-primary py-9">
        <img src="/static/icons/MainMap.png" alt="mainMap" />
    </div>

    <div class="w-auto bg-primary pb-36">
      <span class="flex justify-center pt-20 font-jost font-bold text-xl pb-11">
        Популярные маршруты
      </span>
      <div class="grid grid-cols-3 gap-40">
      {% for route in route_list %}
        <div class="pl-8 mt-11 relative shadow-shadowRoute">
        <img class="pr-8 pt-9 pb-5 featured-photo" src="{{ route.featured_thumb.url }}" width="285px" alt="photo" />
        <div class="flex absolute right-12 top-12">
          {% with ''|center:5 as range %}
              {% for _ in range %}
                  <img class="p-0.5" src="/static/icons/star.png" alt="star"/>
              {% endfor %}
          {% endwith %}
        </div>
        <span class="flex font-bold text-textSearch font-jost pt-2.5 pb-1">
          {{route.name}}
        </span>
        <span class="flex font-jost text-textRegion text-textRegionColor">
          {{route.location.name}}
        </span>
        <p class="font-jost">{{route.short_desc|slice:":60" }}</p>
        <div class="flex pt-3 pb-8">
          <img src="/static/icons/clock.png" alt="clock" />
          <span class="pl-3 text-textCard font-jost">{{route.duration}} дн.</span>
          <img class="px-5" src="/static/icons/line.png" alt="line" />
          <img src="/static/icons/LogoTrack.png" alt="logoTrack" />
          <span class="pl-3 text-textCard font-jost">{{route.length}} км</span>
        </div>
        <a href="/travel/route/{{ route.id }}/">
          <button class=" mb-9 focus:outline-none bg-bgBtn w-64 h-11 rounded-3xl text-white font-jost font-medium text-base">
            Подробнее
          </button>
        </a>
      </div>
      {% endfor %}
      </div>
    </div>
      
        <div class="w-auto bg-secondary pb-16">
            <span class="flex justify-center font-bold font-jost text-xl pt-11 pb-12">Отзывы</span>
            <div class="flex items-center justify-around">
                <img class=" w-12 h-12 " src="/static/icons/arrowLeft.png" alt="arrowLeft" />
                {% for comment in comment_list|slice:":2" %}
                <div class="flex flex-col w-1/3 bg-primary rounded-xl p-8 h-80">
                    <span class="text-titleReviews font-jost font-bold pb-2">{{comment.trip.route.name}}</span>
                    <span class="text-dateReviewesSize font-jost text-dateReviewes pb-2.5">{{ comment.trip.starts_at|date:"d.m.Y" }} - {{ comment.trip.ends_at|date:"d.m.Y" }}</span>
                    <span class="font-jost text-textSeach pb-5">{{comment.author.get_full_name}}</span>
                    <p class="font-jost text-pReviews pb-6">{{comment.content}}</p>
                    <div>
                        <span class="font-jost text-textSeach">Сложность: </span>
                        <span class="font-jost text-textSeach font-medium">Тяжело</span>
                    </div>
                    <div>
                        <span class="font-jost text-textSeach">Инструктор: </span>
                        <span class="font-jost text-textSeach font-medium">Понравился</span>
                    </div>
                    <div>
                        <span class="font-jost text-textSeach">Общая оценка: </span>
                        <span class="font-jost text-textSeach font-medium">{{comment.get_score_display}}</span>
                    </div>
                </div>
                {% endfor %}
                <img class="w-12 h-12" src="/static/icons/arrowRight.png" alt="arrowRight" />
            </div>
        </div>
{% endblock %}